.slider-wrapper .axis-horizontal {
  width: 10%;
}
// .swiper {
//   background-color: #e6e6ff;
// }
.featuredNovel1 {
  height: 50%;
  //   width: 50%;
  //   margin-left: 22.5%;
}
.img-box {
  border-radius: 10px;
  background-color: #e6e6ff;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  //   height: 50%;
}
// .slick-track {
//   width: 0px !important;
// }
.book-card {
}
